@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: #00A97F;
  --light: rgba(133, 198, 218, 255);
  --dark: rgba(13, 13, 10, 255);
  --darker: rgba(234, 157, 90, 255);
  --lighter: #cbd6cf;
  --lighter1: #c3dacc86;
  --lighter2: #e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

.logo {
  max-width: 100%;
  height: 40px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
  margin: auto;
}

h1 {
  font-weight: 600;
  color: var(--search);
  font-size: 40px;
}

/* h2{
  font-weight: 400;
  color: var(--primary1);
  font-size: 32px;
} */

button {
  padding: 12px 10px;
  font-size: 14px;
  background-color: var(--primary1);
  color: white;
}

.active {
  font-weight: 600;
  color: var(--primary);
  text-decoration: underline;
}

.inactive {
  color: var(--primary1);
  font-weight: 400;
}

/* Header */
/* .header-top-strip a {

} */

.input-group button {
  background: var(--search);
  font-size: 14px;
  color: white;
}

.input-group :hover {
  background: var(--lighter2);
}

.header-upper {
  background-color: var(--lighter2);
}

.header-upper :hover {
  color: var(--search);
}

.nav-links a {
  font-size: 16px;
  text-transform: uppercase;
}


/* Footer */
.footer {
  background-color: var(--lighter2);
}

.pay img {
  width: 5cm;
  height: auto;
  transition: 0.5s ease;
}

.pay img:hover {
  transform: translateY(-10px);
}

.paymen-methods img {
  transition: 0.5s ease;
}

.paymen-methods img:hover {
  transform: translateY(-10px);
}

.footer-details a:hover {
  font-weight: bold;
}

/* Home */
.banner-details img {
  width: 1296px;
  height: 320px;
  display: block;
  max-width: 100%;
}

.banner-details a {
  display: block;
  width: 100%;
}

.hero-details img {
  width: 100px;
  height: 70px;
}

.hero-details .card {
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
}

.hero-details img {
  transition: 0.5s ease;
}

.hero-details img:hover {
  transform: translateY(-10px);
}

.hero-details a {
  color: #000;
}

.hero-details a:hover {
  font-weight: bold;
}

/* Countdown Timer Styles */
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* Khoảng cách giữa các khung và dấu ':' */
}

.countdown-timer .time-segment {
  background-color: #D3232A;
  color: #fff;
  border-radius: 5px;
  padding: 8px 12px;
  min-width: 50px;
  text-align: center;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.countdown-timer .separator {
  font-size: 26px;
  color: #333;
  font-weight: bold;
}

.countdown-timer .time-segment:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.featured-products .card img{
  border-radius: 20px;
}
.featured-products .card{
  border-radius: 20px;
  max-width: 250px;
}
.featured-products.card span{
  color: var(--darken);
}