@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: #00A97F;
  --light: rgba(133, 198, 218, 255);
  --dark: rgba(13, 13, 10, 255);
  --darker: rgba(234, 157, 90, 255);
  --lighter: #cbd6cf;
  --lighter1: #c3dacc86;
  --lighter2: #e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

.logo {
  max-width: 100%;
  height: 50px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
  margin: auto;
}

h1 {
  font-weight: 600;
  color: var(--search);
  font-size: 40px;
}

/* h2{
  font-weight: 400;
  color: var(--primary1);
  font-size: 32px;
} */

button {
  padding: 8px 5px;
  font-size: 14px;
  background-color: var(--primary1);
  color: white;
  border-radius: 10px;
}

.active {
  font-weight: 600;
  color: var(--primary);
  text-decoration: underline;
}

.inactive {
  color: var(--primary1);
  font-weight: 400;
}

.view-button,
.add-btn {
  transition: transform 0.3s ease;
}

.view-button:hover,
.add-btn:hover {
  transform: scale(1.05);
}

.view-button {
  font-size: 20px;
}

/* Header */

.input-group button {
  background: var(--lighter2);
  font-size: 14px;
  color: #000;
}

.input-group :hover {
  color: var(--search);
  background-color: var(--lighter1);
}

.header-upper {
  background-color: var(--lighter2);
}

.header-upper :hover {
  color: var(--search);
}

.nav-links a {
  font-size: 16px;
  text-transform: uppercase;
}


/* Footer */
.footer {
  background-color: white;
}

.subscribe-footer {
  background-color: var(--lighter1);
}

.pay img {
  width: 5cm;
  height: auto;
  transition: 0.5s ease;
}

.pay img:hover {
  transform: translateY(-10px);
}

.paymen-methods img {
  transition: 0.5s ease;
}

.paymen-methods img:hover {
  transform: translateY(-10px);
}

.footer-icon:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}

.footer-details a:hover {
  font-weight: bold;
}

/* Home */
.banner-details img {
  width: 1296px;
  height: 320px;
  display: block;
  max-width: 100%;
}

.banner-details a {
  display: block;
  width: 100%;
}

.hero-details img {
  width: 90px;
  height: 60px;
}

.hero-details .card {
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
}

.hero-details img {
  transition: 0.5s ease;
}

.hero-details img:hover {
  transform: translateY(-10px);
}

.hero-details a {
  color: #000;
}

.hero-details a:hover {
  font-weight: bold;
}

/* Countdown Timer Styles */
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* Khoảng cách giữa các khung và dấu ':' */
}

.countdown-timer .time-segment {
  background-color: #D3232A;
  color: #fff;
  border-radius: 5px;
  padding: 8px 12px;
  min-width: 50px;
  text-align: center;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.countdown-timer .separator {
  font-size: 26px;
  color: #333;
  font-weight: bold;
}

.countdown-timer .time-segment:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.featured-products .card img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.featured-products .card {
  border-radius: 10px;
  border: 1px solid lightgray;
  max-width: 250px;
}

.featured-products.card span {
  color: var(--darken);
}

.products-brand {
  color: var(--search);
}

.repair {
  background: url(./assets/images/repair.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25vh;
}

.button-repair {
  padding: 12px 10px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  background: var(--darken);
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.button-repair:hover {
  background: transparent;
  color: white;
  border: 1px solid var(--primary);
}

.new-products .card img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.new-products .card {
  border-radius: 10px;
  border: 1px solid lightgray;
  max-width: 250px;
}

.new-products.card span {
  color: var(--darken);
}

.button-deals {
  padding: 12px 10px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  background: var(--search);
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.button-deals:hover {
  background: transparent;
  color: var(--search);
  border: 1px solid var(--darker);
}

.button-blog {
  padding: 10px 8px;
  font-size: 18px;
  border-radius: 10px;
  color: var(--primary1);
  background: transparent;
  border: 1px solid transparent;
  transition: 0.5s ease;

}

.button-blog:hover {
  background: transparent;
  color: var(--search);
  border: 1px solid var(--darker);
}

/* SHOP */
.shop-banner {
  background: url(./assets/images/shop-banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25vh;
}

.price {
  color: var(--primary);
  font-size: 16px;
}

.view-button {
  transition: 0.5s ease;
}

.view-button:hover {
  color: var(--search);
}

.add-btn button {
  border-radius: 10px;
  background: var(--primary1);
  border: none;
  padding: 12px 10px;
  background: var(--primary1);
}

.shop-products .card img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.shop-products .card {
  border-radius: 10px;
  border: 1px solid lightgray;
  max-width: 250px;
}

.shop-products.card span {
  color: var(--darken);
}

.pagination a {
  padding: 10px;
  font-size: 16px;
  color: var(--darken);
}

.red {
  color: var(--primary);
}
.brand {
  color: var(--darken);
}
.add-to-cart{
  background: var(--primary2);
}
.add-to-cart:hover{
  background: white;
  color: var(--primary2);
  border: 1px solid var(--primary2);
}

/* Cart */
input {
  padding: 12px;
  width: 50px;
  color: var(--search);
  font-size: 16px;
  font-weight: 600;
}

.cart-item img {
  max-width: 100%;
  height: 3cm;
  border-radius: 20px;
}

thead {
  font-size: 16px;
  align-items: center;
}

tbody {
  background: white;
}

.cart-item button {
  background: transparent;
  padding: 10px;
  border: 1px solid lightgray;
  color: black;
  font-size: 14px;
}

.form-control {
  border: 1px solid lightgray;
}

.total {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.img-cart {
  text-align: center;
}

.add-btn:hover,
.remove-btn:hover,
.add-btn:active,
.remove-btn:active {
  border-color: black;
}

.clear-cart {
  font-size: 20px;
  border: 1px solid lightgray;
  padding: 8px 5px;
  border-radius: 10px;
}

.clear-cart:hover {
  background: var(--primary2);
  color: white;
}

.continue-shopping-btn:hover {
  background: var(--primary2);
  color: white;
  font-weight: bold;
}

.check-out-btn:hover {
  background: var(--primary2);
  color: white;
  font-weight: bold;

}

/* Products */
.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Products details */
.details button {
  background: transparent;
  padding: 12px;
  border: 1px solid;
  color: black;
  font-size: 14px;
}

.details input {
  width: 5cm;
  align-items: center;
}

.details input {
  width: 100px;
}

/* BLOG */
.blog-wrapper {
  background: url(assets/images/blog-wrapper.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25vh;

}

.blog-details img {
  width: 15rem;
  padding: 20px;
  border-radius: 15px;
}

.card-footer {
  color: var(--darken);
}

/* ABOUT */
.about-wrapper {
  background: url(assets/images/about-wrapper.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25vh;

}

.know-us img {
  border-radius: 30px;
}

.download video {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 30px;
}

.blogs img {
  width: 15rem;
  padding: 20px;
  border-radius: 15px;
}

.marquee img {
  width: 8rem;
  padding: 20px;
  border-radius: 15px;

}

.marquee .card {
  border: none;
}

/* CONTACT */
.contact-wrapper {
  background: url(assets/images/contact-wrapper.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25vh;

}

.contact-p {
  color: var(--search);
}

.contact-map {
  width: 16cm;
  height: 450px;
  border: none;
}

.contact-info {
  background: var(--lighter2);
}

.form {
  background: var(--lighter2);
}

.btn-submit {
  border-radius: 10px;
  font-size: 18px;
  padding: 12px 24px;
  background-color: var(--primary1);
  color: #fff;
  border: 1px solid transparent;
  transition: .5s ease;
}
.btn-submit:hover{
  background-color: var(--lighter2);
  color: var(--primary2);
  border: 1px solid var(--primary2);
}
/* CHECK OUT */
.checkout img {
  width: 8rem;
}
.checkout {
  background-color: var(--lighter2);
}









/* SELLER */
.need-help {
  color: var(--search);
  text-decoration: none;
}

.h3-seller {
  color: var(--search);
  font-size: 34px;
}

/* HEADER */
.header {
  box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
  height: 84px;
}

/* FOOTER */
.footer {
  background-color: white;
  align-content: center;
}


/* LOGIN */
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  unicode-bidi: isolate;
}

.a1-img {
  width: 60%;
  height: 200px;
  margin: auto;
}

.form-login {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20px;
}

.input1 {
  width: 80%;
  height: 35px;
  filter: none;
  flex: 1;
  flex-shrink: 0;
  outline: none;
  padding: .75rem;
}

.btn-login {
  width: 50%;
  background-color: var(--search);
  border: none;
  height: 40px;
  color: white;
  font-weight: bold;
  transition: 0.5s ease;
}

.btn-login:hover {
  transform: translateY(-5px);
}

.link1 {
  display: flex;
  justify-content: space-between;
}

.fgp {
  padding-left: 50px;
}

.regis {
  padding-right: 50px;
}

.sp-option {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-left: 25px;
  color: gray;

}

.api {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.log-fb-icon,
.log-gg-icon {
  width: 80%;
  height: 40px;
  border: none;
  background-color: white;
  margin-bottom: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.5s ease;
}

.log-fb-icon {
  border: 1px solid gray;
  margin-left: 40px;
  margin-right: 20px;
  color: black;
}

.log-gg-icon {
  border: 1px solid gray;
  margin-right: 20px;
  color: black;
}

.log-fb-icon:hover,
.log-gg-icon:hover {
  transform: translateY(-5px);
}

/* SIGN UP */
.bg-banner {
  background: url(assets/images/bg-signup.png);
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  unicode-bidi: isolate;
}

.signup-info {
  font-size: 16px;
  margin-left: 0;
  color: #FF4500;
  font-weight: 400;
  text-align: center;
  padding: 8px 0;
}

.signup-details {
  width: 80%;
  height: 8cm;
  border: 1px solid black;
  border-radius: 20px;
  justify-items: center;
}

/* FORGOT PASSWORD */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-fgp {
  display: flex;
  flex-direction: column;
}

.fgp-title {
  text-align: center;
  align-items: center;
  color: var(--search);
  margin-bottom: 20px;
}

.input-fgp {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
}

.btn-fgp {
  padding: 10px;
  background-color: var(--search);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-fgp:hover {
  opacity: 0.8;
}

.return-icon {
  width: 30px;
  height: 60px;
  color: var(--search);
}

/* HOME */

.header-top {
  background-color: var(--lighter1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-support {
  font-size: 0.875rem;
}

.header-store-info {
  display: flex;
  align-items: center;
}

.store-label {
  font-weight: bold;
  margin-right: 10px;
}

.store-warehouse-select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

.header-divider {
  background-color: gray;
  width: 1px;
  height: 30px;
  margin-right: 10px;
}

.user-greeting {
  font-size: 17px;
  color: #666;
  margin-right: 6cm;
}

.drop-down-icon {
  width: auto;
  height: 30px;
  color: black;
}

.btn-drop {
  background-color: var(--lighter2);
  border: none;
}

.sidebar-menu {
  padding: 10px;
  text-align: center;
  background-color: var(--lighter);
  width: 4cm;
  font-weight: bold;
  border: 1px solid black;
}

.edit-link {
  text-decoration: none;
  color: black;
}

.pro-header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--lighter);
  padding-right: 16px;
}

.btn-add {
  border: none;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  padding-left: 20px;
  margin-left: 4cm;
  background-color: var(--lighter2);
  width: auto;
  height: auto;
  font-size: 16px;
}

/* ORDER */
.table-responsive {
  margin-left: 4cm;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border: 1px solid black;
  align-content: center;
}

.table thead th {
  background-color: var(--primary1);
  color: white;
}

.table tbody tr:hover {
  background-color: var(--lighter1);
}

/* PRODUCTS */
.add-icon {
  width: 40px;
  height: 30px;
}

.order-details input {
  width: 8cm;
}

.btn-find {
  width: 185px;
  height: 45px;
  border: none;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.table-responsive img {
  width: auto;
  height: 3cm;
}

.filters {
  display: flex;
}

.filter {
  margin: 0 10px;
  position: relative;
  width: auto;
}

.filter-select {
  padding: 5px;
  margin-left: 5px;
}

.product-form-container {
  background: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
}

.form-actions {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.btn-save {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-cancel {
  padding: 10px 15px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  
}

.product-form {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 8cm;
}
.product-form-container{
  background-color: var(--lighter2);
  margin-left: 151px;
  width: auto;
  height: 12cm;
} 